head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //- note: non namespaced variables (e.g description, athor below) come from the front matter object
    meta(name='description', content=description)
    meta(name='author', content=author)
  

    title #{title} - #{site.subject}
    //- A namespace variable (site.base below) comes from the metadata object injected into all template renders
    link(rel='icon', type='image/x-icon', href=`${site.base}/assets/favicon.ico`)

    link(href=`${site.base}/css/styles.css`, rel='stylesheet')
